{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2025-09-09",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"lambda",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"LambdaMicroVMs",
    "serviceId":"LambdaMicroVMs",
    "signatureVersion":"v4",
    "signingName":"lambda",
    "uid":"lambdamicrovms-2025-09-09"
  },
  "operations":{
    "CreateMicroVMImage":{
      "name":"CreateMicroVMImage",
      "http":{
        "method":"POST",
        "requestUri":"/2025-09-09/microvm-images",
        "responseCode":201
      },
      "input":{"shape":"CreateMicroVMImageInput"},
      "output":{"shape":"CreateMicroVMImageOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "DeleteMicroVMImage":{
      "name":"DeleteMicroVMImage",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMicroVMImageInput"},
      "output":{"shape":"DeleteMicroVMImageOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ]
    },
    "DeleteMicroVMImageVersion":{
      "name":"DeleteMicroVMImageVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/versions/{microVMImageVersion}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMicroVMImageVersionInput"},
      "output":{"shape":"DeleteMicroVMImageVersionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ]
    },
    "DescribeMicroVM":{
      "name":"DescribeMicroVM",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvms/{microVMId}/describe",
        "responseCode":200
      },
      "input":{"shape":"DescribeMicroVMRequest"},
      "output":{"shape":"DescribeMicroVMResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "DescribeMicroVMImage":{
      "name":"DescribeMicroVMImage",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/describe",
        "responseCode":200
      },
      "input":{"shape":"DescribeMicroVMImageInput"},
      "output":{"shape":"DescribeMicroVMImageOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "DescribeMicroVMImageBuild":{
      "name":"DescribeMicroVMImageBuild",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/versions/{microVMImageVersion}/builds/{buildId}/describe",
        "responseCode":200
      },
      "input":{"shape":"DescribeMicroVMImageBuildInput"},
      "output":{"shape":"DescribeMicroVMImageBuildOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "DescribeMicroVMImageVersion":{
      "name":"DescribeMicroVMImageVersion",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/versions/{microVMImageVersion}/describe",
        "responseCode":200
      },
      "input":{"shape":"DescribeMicroVMImageVersionInput"},
      "output":{"shape":"DescribeMicroVMImageVersionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "GenerateMicroVMAuthToken":{
      "name":"GenerateMicroVMAuthToken",
      "http":{
        "method":"POST",
        "requestUri":"/2025-09-09/microvms/{microVMId}/auth-token",
        "responseCode":200
      },
      "input":{"shape":"GenerateMicroVMAuthTokenRequest"},
      "output":{"shape":"GenerateMicroVMAuthTokenResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ]
    },
    "GenerateMicroVMShellAuthToken":{
      "name":"GenerateMicroVMShellAuthToken",
      "http":{
        "method":"POST",
        "requestUri":"/2025-09-09/microvms/{microVMId}/shell-auth-token",
        "responseCode":200
      },
      "input":{"shape":"GenerateMicroVMShellAuthTokenRequest"},
      "output":{"shape":"GenerateMicroVMShellAuthTokenResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ]
    },
    "GetMicroVM":{
      "name":"GetMicroVM",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvms/{microVMId}",
        "responseCode":200
      },
      "input":{"shape":"GetMicroVMRequest"},
      "output":{"shape":"GetMicroVMResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "GetMicroVMImage":{
      "name":"GetMicroVMImage",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}",
        "responseCode":200
      },
      "input":{"shape":"GetMicroVMImageInput"},
      "output":{"shape":"GetMicroVMImageOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "GetMicroVMImageBuild":{
      "name":"GetMicroVMImageBuild",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/versions/{microVMImageVersion}/builds/{buildId}",
        "responseCode":200
      },
      "input":{"shape":"GetMicroVMImageBuildInput"},
      "output":{"shape":"GetMicroVMImageBuildOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "GetMicroVMImageVersion":{
      "name":"GetMicroVMImageVersion",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/versions/{microVMImageVersion}",
        "responseCode":200
      },
      "input":{"shape":"GetMicroVMImageVersionInput"},
      "output":{"shape":"GetMicroVMImageVersionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "LaunchMicroVM":{
      "name":"LaunchMicroVM",
      "http":{
        "method":"POST",
        "requestUri":"/2025-09-09/microvms",
        "responseCode":200
      },
      "input":{"shape":"LaunchMicroVMRequest"},
      "output":{"shape":"LaunchMicroVMResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ]
    },
    "ListManagedMicroVMImageVersions":{
      "name":"ListManagedMicroVMImageVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/managed-microvm-images/{arn}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListManagedMicroVMImageVersionsInput"},
      "output":{"shape":"ListManagedMicroVMImageVersionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "ListManagedMicroVMImages":{
      "name":"ListManagedMicroVMImages",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/managed-microvm-images",
        "responseCode":200
      },
      "input":{"shape":"ListManagedMicroVMImagesInput"},
      "output":{"shape":"ListManagedMicroVMImagesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "ListMicroVMImageBuilds":{
      "name":"ListMicroVMImageBuilds",
      "http":{
        "method":"POST",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/versions/{microVMImageVersion}/builds",
        "responseCode":200
      },
      "input":{"shape":"ListMicroVMImageBuildsInput"},
      "output":{"shape":"ListMicroVMImageBuildsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "ListMicroVMImageVersions":{
      "name":"ListMicroVMImageVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListMicroVMImageVersionsInput"},
      "output":{"shape":"ListMicroVMImageVersionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "ListMicroVMImages":{
      "name":"ListMicroVMImages",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvm-images",
        "responseCode":200
      },
      "input":{"shape":"ListMicroVMImagesInput"},
      "output":{"shape":"ListMicroVMImagesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "ListMicroVMs":{
      "name":"ListMicroVMs",
      "http":{
        "method":"GET",
        "requestUri":"/2025-09-09/microvms",
        "responseCode":200
      },
      "input":{"shape":"ListMicroVMsRequest"},
      "output":{"shape":"ListMicroVMsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "readonly":true
    },
    "ResumeMicroVM":{
      "name":"ResumeMicroVM",
      "http":{
        "method":"POST",
        "requestUri":"/2025-09-09/microvms/{microVMId}/resume",
        "responseCode":200
      },
      "input":{"shape":"ResumeMicroVMRequest"},
      "output":{"shape":"ResumeMicroVMResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "idempotent":true
    },
    "SuspendMicroVM":{
      "name":"SuspendMicroVM",
      "http":{
        "method":"POST",
        "requestUri":"/2025-09-09/microvms/{microVMId}/suspend",
        "responseCode":200
      },
      "input":{"shape":"SuspendMicroVMRequest"},
      "output":{"shape":"SuspendMicroVMResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "idempotent":true
    },
    "TerminateMicroVM":{
      "name":"TerminateMicroVM",
      "http":{
        "method":"DELETE",
        "requestUri":"/2025-09-09/microvms/{microVMId}",
        "responseCode":200
      },
      "input":{"shape":"TerminateMicroVMRequest"},
      "output":{"shape":"TerminateMicroVMResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "idempotent":true
    },
    "UpdateMicroVMImage":{
      "name":"UpdateMicroVMImage",
      "http":{
        "method":"PATCH",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMicroVMImageInput"},
      "output":{"shape":"UpdateMicroVMImageOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ]
    },
    "UpdateMicroVMImageVersionState":{
      "name":"UpdateMicroVMImageVersionState",
      "http":{
        "method":"PUT",
        "requestUri":"/2025-09-09/microvm-images/{microVMImageArn}/versions/{microVMImageVersion}/state",
        "responseCode":200
      },
      "input":{"shape":"UpdateMicroVMImageVersionStateInput"},
      "output":{"shape":"UpdateMicroVMImageVersionStateOutput"},
      "errors":[
        {"shape":"DependencyException"},
        {"shape":"InvalidRequestException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "Architecture":{
      "type":"string",
      "enum":[
        "X86_64",
        "ARM_64"
      ]
    },
    "AuthTokenKey":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[^\\s]+"
    },
    "AuthTokenValue":{
      "type":"string",
      "max":8000,
      "min":0,
      "sensitive":true
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BuildSpecification":{
      "type":"structure",
      "required":[
        "architecture",
        "chipset",
        "chipsetGeneration"
      ],
      "members":{
        "architecture":{"shape":"NonBlankString"},
        "chipset":{"shape":"NonBlankString"},
        "chipsetGeneration":{"shape":"NonBlankString"},
        "resourceSpec":{"shape":"ResourceSpec"}
      }
    },
    "BuildSpecifications":{
      "type":"list",
      "member":{"shape":"BuildSpecification"}
    },
    "BuildState":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "STAGED",
        "SUCCESSFUL",
        "FAILED"
      ]
    },
    "CPUSpec":{
      "type":"structure",
      "required":["architecture"],
      "members":{
        "architecture":{"shape":"Architecture"},
        "chipsetGenerations":{"shape":"ChipsetGenerations"}
      }
    },
    "CPUSpecList":{
      "type":"list",
      "member":{"shape":"CPUSpec"}
    },
    "Capability":{
      "type":"string",
      "enum":["ALL"]
    },
    "CapabilityList":{
      "type":"list",
      "member":{"shape":"Capability"}
    },
    "Chipset":{
      "type":"string",
      "enum":[
        "GRAVITON",
        "INTEL"
      ]
    },
    "ChipsetGeneration":{"type":"string"},
    "ChipsetGenerationList":{
      "type":"list",
      "member":{"shape":"ChipsetGeneration"}
    },
    "ChipsetGenerations":{
      "type":"map",
      "key":{"shape":"Chipset"},
      "value":{"shape":"ChipsetGenerationList"}
    },
    "CloudWatchLogging":{
      "type":"structure",
      "members":{
        "logGroup":{"shape":"CloudWatchLoggingLogGroupString"},
        "logStream":{"shape":"CloudWatchLoggingLogStreamString"}
      }
    },
    "CloudWatchLoggingLogGroupString":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\-/.#]+"
    },
    "CloudWatchLoggingLogStreamString":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[^:*]*"
    },
    "CodeArtifact":{
      "type":"structure",
      "members":{
        "uri":{"shape":"NonBlankString"}
      },
      "union":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateMicroVMImageInput":{
      "type":"structure",
      "required":[
        "codeArtifact",
        "baseMicroVMImageArn",
        "buildRoleArn",
        "name"
      ],
      "members":{
        "codeArtifact":{"shape":"CodeArtifact"},
        "baseMicroVMImageArn":{"shape":"NonBlankString"},
        "buildRoleArn":{"shape":"RoleArn"},
        "ingressNetworkConnectors":{
          "shape":"NetworkConnectorList",
          "deprecated":true,
          "deprecatedMessage":"Use snapshotConfig ingressNetworkConnectors instead"
        },
        "egressNetworkConnectors":{
          "shape":"NetworkConnectorList",
          "deprecated":true,
          "deprecatedMessage":"Use snapshotConfig egressNetworkConnectors instead"
        },
        "snapshotConfig":{"shape":"SnapshotConfig"},
        "loggingConfig":{"shape":"LoggingConfig"},
        "baseMicroVMImageVersion":{"shape":"Version"},
        "tags":{"shape":"Tags"},
        "description":{"shape":"NonEmptyString"},
        "name":{"shape":"CreateMicroVMImageInputNameString"},
        "clientToken":{
          "shape":"CreateMicroVMImageInputClientTokenString",
          "idempotencyToken":true
        }
      }
    },
    "CreateMicroVMImageInputClientTokenString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "CreateMicroVMImageInputNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-_]+"
    },
    "CreateMicroVMImageOutput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "state"
      ],
      "members":{
        "microVMImageArn":{"shape":"NonBlankString"},
        "state":{"shape":"MicroVMImageState"}
      }
    },
    "DeleteMicroVMImageInput":{
      "type":"structure",
      "required":["microVMImageArn"],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        }
      }
    },
    "DeleteMicroVMImageOutput":{
      "type":"structure",
      "members":{
        "microVMImageState":{"shape":"VersionState"}
      }
    },
    "DeleteMicroVMImageVersionInput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion"
      ],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "microVMImageVersion":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageVersion"
        }
      }
    },
    "DeleteMicroVMImageVersionOutput":{
      "type":"structure",
      "members":{
        "microVMImageVersionState":{"shape":"VersionState"}
      }
    },
    "DependencyException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "exception":true,
      "fault":true
    },
    "DescribeMicroVMImageBuildInput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion",
        "buildId"
      ],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "microVMImageVersion":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageVersion"
        },
        "buildId":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"buildId"
        }
      }
    },
    "DescribeMicroVMImageBuildOutput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion",
        "buildId",
        "buildState",
        "architecture",
        "chipset",
        "chipsetGeneration",
        "creationDate"
      ],
      "members":{
        "microVMImageArn":{"shape":"NonBlankString"},
        "microVMImageVersion":{"shape":"NonBlankString"},
        "buildId":{"shape":"NonBlankString"},
        "buildState":{"shape":"BuildState"},
        "architecture":{"shape":"Architecture"},
        "chipset":{"shape":"Chipset"},
        "chipsetGeneration":{"shape":"NonBlankString"},
        "failureReason":{"shape":"NonBlankString"},
        "creationDate":{"shape":"PositiveLong"},
        "memorySnapshot":{"shape":"SnapshotBuild"},
        "diskSnapshot":{"shape":"SnapshotBuild"}
      }
    },
    "DescribeMicroVMImageInput":{
      "type":"structure",
      "required":["microVMImageArn"],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        }
      }
    },
    "DescribeMicroVMImageOutput":{
      "type":"structure",
      "required":["summary"],
      "members":{
        "summary":{"shape":"MicroVMImageSummary"}
      }
    },
    "DescribeMicroVMImageVersionInput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion"
      ],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "microVMImageVersion":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageVersion"
        }
      }
    },
    "DescribeMicroVMImageVersionOutput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion",
        "codeArtifact",
        "buildRoleArn",
        "versionState",
        "description",
        "creationDate",
        "baseMicroVMImageArn"
      ],
      "members":{
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "microVMImageArn":{"shape":"NonBlankString"},
        "microVMImageVersion":{"shape":"NonBlankString"},
        "codeArtifact":{"shape":"CodeArtifact"},
        "buildRoleArn":{"shape":"NonBlankString"},
        "versionState":{"shape":"VersionState"},
        "description":{"shape":"NonBlankString"},
        "creationDate":{"shape":"PositiveLong"},
        "baseMicroVMImageArn":{"shape":"NonBlankString"},
        "snapshotConfig":{"shape":"SnapshotConfig"},
        "loggingConfig":{"shape":"LoggingConfig"},
        "baseMicroVMImageVersion":{"shape":"Version"},
        "buildSpecifications":{"shape":"BuildSpecifications"}
      }
    },
    "DescribeMicroVMRequest":{
      "type":"structure",
      "required":["microVMId"],
      "members":{
        "microVMId":{
          "shape":"MicroVMId",
          "location":"uri",
          "locationName":"microVMId"
        }
      }
    },
    "DescribeMicroVMResponse":{
      "type":"structure",
      "members":{
        "microVMId":{"shape":"MicroVMId"},
        "microVMState":{"shape":"MicroVMState"},
        "endpoint":{"shape":"String"},
        "microVMImageArn":{"shape":"MicroVMImageArn"},
        "microVMImageVersion":{"shape":"Version"},
        "executionRoleArn":{"shape":"RoleArn"},
        "idlePolicy":{"shape":"IdlePolicy"},
        "operationalConfig":{"shape":"OperationalConfig"},
        "resourceSpec":{"shape":"ResourceSpec"},
        "cpuSpec":{"shape":"CPUSpec"},
        "launchedAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "maxLifetimeSeconds":{"shape":"Integer"},
        "expiresAt":{"shape":"Timestamp"},
        "terminatedAt":{"shape":"Timestamp"},
        "terminationMessage":{"shape":"NonBlankString"},
        "version":{"shape":"Integer"},
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "networkConnectorDetails":{"shape":"NetworkConnectorDetails"},
        "launchDate":{"shape":"Timestamp"},
        "updatedTime":{"shape":"Timestamp"},
        "terminationTime":{"shape":"Timestamp"}
      }
    },
    "EnvironmentVariableMap":{
      "type":"map",
      "key":{"shape":"NonBlankString"},
      "value":{"shape":"NonBlankString"},
      "max":50,
      "min":0
    },
    "GenerateMicroVMAuthTokenRequest":{
      "type":"structure",
      "required":[
        "microVMId",
        "expirationMinutes"
      ],
      "members":{
        "microVMId":{
          "shape":"MicroVMId",
          "location":"uri",
          "locationName":"microVMId"
        },
        "expirationMinutes":{"shape":"PositiveInteger"},
        "allowedPorts":{"shape":"ListOfPortRange"}
      }
    },
    "GenerateMicroVMAuthTokenResponse":{
      "type":"structure",
      "required":["authToken"],
      "members":{
        "authToken":{"shape":"TokenParts"}
      }
    },
    "GenerateMicroVMShellAuthTokenRequest":{
      "type":"structure",
      "required":[
        "microVMId",
        "expirationMinutes"
      ],
      "members":{
        "microVMId":{
          "shape":"MicroVMId",
          "location":"uri",
          "locationName":"microVMId"
        },
        "expirationMinutes":{"shape":"PositiveInteger"}
      }
    },
    "GenerateMicroVMShellAuthTokenResponse":{
      "type":"structure",
      "required":["authToken"],
      "members":{
        "authToken":{"shape":"TokenParts"}
      }
    },
    "GetMicroVMImageBuildInput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion",
        "buildId"
      ],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "microVMImageVersion":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageVersion"
        },
        "buildId":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"buildId"
        }
      }
    },
    "GetMicroVMImageBuildOutput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion",
        "buildId",
        "buildState",
        "architecture",
        "chipset",
        "chipsetGeneration",
        "encryptedDataKey",
        "creationDate"
      ],
      "members":{
        "microVMImageArn":{"shape":"NonBlankString"},
        "microVMImageVersion":{"shape":"NonBlankString"},
        "buildId":{"shape":"NonBlankString"},
        "buildState":{"shape":"BuildState"},
        "architecture":{"shape":"Architecture"},
        "chipset":{"shape":"Chipset"},
        "chipsetGeneration":{"shape":"NonBlankString"},
        "encryptedDataKey":{"shape":"NonBlankString"},
        "failureReason":{"shape":"NonBlankString"},
        "creationDate":{"shape":"PositiveLong"},
        "snapshotSizeBytes":{"shape":"PositiveLong"}
      }
    },
    "GetMicroVMImageInput":{
      "type":"structure",
      "required":["microVMImageArn"],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        }
      }
    },
    "GetMicroVMImageOutput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "name",
        "state",
        "baseMicroVMImageArn"
      ],
      "members":{
        "microVMImageArn":{"shape":"NonBlankString"},
        "name":{"shape":"NonBlankString"},
        "state":{"shape":"MicroVMImageState"},
        "baseMicroVMImageArn":{"shape":"NonBlankString"},
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "snapshotEncryptionKeyArn":{"shape":"NonBlankString"},
        "snapshotConfig":{"shape":"SnapshotConfig"},
        "loggingConfig":{"shape":"LoggingConfig"},
        "baseMicroVMImageVersion":{"shape":"Version"},
        "buildRoleArn":{"shape":"NonBlankString"},
        "codeArtifact":{"shape":"CodeArtifact"},
        "description":{"shape":"NonBlankString"},
        "activeVersion":{"shape":"Integer"},
        "failureReason":{"shape":"NonBlankString"},
        "tags":{"shape":"Tags"},
        "creationTime":{"shape":"Timestamp"},
        "buildSpecifications":{"shape":"BuildSpecifications"}
      }
    },
    "GetMicroVMImageVersionInput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion"
      ],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "microVMImageVersion":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageVersion"
        }
      }
    },
    "GetMicroVMImageVersionOutput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion",
        "codeArtifact",
        "buildRoleArn",
        "versionState",
        "description",
        "creationDate"
      ],
      "members":{
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "microVMImageArn":{"shape":"NonBlankString"},
        "microVMImageVersion":{"shape":"NonBlankString"},
        "codeArtifact":{"shape":"CodeArtifact"},
        "buildRoleArn":{"shape":"NonBlankString"},
        "versionState":{"shape":"VersionState"},
        "description":{"shape":"NonBlankString"},
        "creationDate":{"shape":"PositiveLong"},
        "baseMicroVMImageArn":{"shape":"NonBlankString"},
        "snapshotConfig":{"shape":"SnapshotConfig"},
        "loggingConfig":{"shape":"LoggingConfig"},
        "baseMicroVMImageVersion":{"shape":"Version"},
        "buildSpecifications":{"shape":"BuildSpecifications"}
      }
    },
    "GetMicroVMRequest":{
      "type":"structure",
      "required":["microVMId"],
      "members":{
        "microVMId":{
          "shape":"MicroVMId",
          "location":"uri",
          "locationName":"microVMId"
        }
      }
    },
    "GetMicroVMResponse":{
      "type":"structure",
      "members":{
        "microVMId":{"shape":"MicroVMId"},
        "microVMState":{"shape":"MicroVMState"},
        "endpoint":{"shape":"String"},
        "microVMImageArn":{"shape":"MicroVMImageArn"},
        "microVMImageVersion":{"shape":"Version"},
        "executionRoleArn":{"shape":"RoleArn"},
        "idlePolicy":{"shape":"IdlePolicy"},
        "operationalConfig":{"shape":"OperationalConfig"},
        "resourceSpec":{"shape":"ResourceSpec"},
        "cpuSpec":{"shape":"CPUSpec"},
        "launchedAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "maxLifetimeSeconds":{"shape":"Integer"},
        "expiresAt":{"shape":"Timestamp"},
        "terminatedAt":{"shape":"Timestamp"},
        "terminationMessage":{"shape":"NonBlankString"},
        "version":{"shape":"Integer"},
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "networkConnectorDetails":{"shape":"NetworkConnectorDetails"},
        "launchDate":{"shape":"Timestamp"},
        "updatedTime":{"shape":"Timestamp"},
        "terminationTime":{"shape":"Timestamp"}
      }
    },
    "HookState":{
      "type":"string",
      "enum":[
        "DISABLED",
        "ENABLED"
      ]
    },
    "Hooks":{
      "type":"structure",
      "required":["lifecycleHookPort"],
      "members":{
        "lifecycleHookPort":{"shape":"HooksLifecycleHookPortInteger"},
        "launchHook":{"shape":"HookState"},
        "launchHookTimeoutMilliseconds":{"shape":"HooksLaunchHookTimeoutMillisecondsInteger"},
        "resumeHook":{"shape":"HookState"},
        "resumeHookTimeoutMilliseconds":{"shape":"HooksResumeHookTimeoutMillisecondsInteger"},
        "suspendHook":{"shape":"HookState"},
        "suspendHookTimeoutMilliseconds":{"shape":"HooksSuspendHookTimeoutMillisecondsInteger"},
        "terminateHook":{"shape":"HookState"},
        "terminateHookTimeoutMilliseconds":{"shape":"HooksTerminateHookTimeoutMillisecondsInteger"},
        "readyHook":{"shape":"HookState"},
        "readyHookTimeoutMilliseconds":{"shape":"HooksReadyHookTimeoutMillisecondsInteger"},
        "validateHook":{"shape":"HookState"},
        "validateHookTimeoutMilliseconds":{"shape":"HooksValidateHookTimeoutMillisecondsInteger"}
      }
    },
    "HooksLaunchHookTimeoutMillisecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "HooksLifecycleHookPortInteger":{
      "type":"integer",
      "box":true,
      "max":65535,
      "min":1
    },
    "HooksReadyHookTimeoutMillisecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "HooksResumeHookTimeoutMillisecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "HooksSuspendHookTimeoutMillisecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "HooksTerminateHookTimeoutMillisecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "HooksValidateHookTimeoutMillisecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "IdlePolicy":{
      "type":"structure",
      "required":[
        "maxIdleDurationSeconds",
        "suspendedDurationSeconds",
        "autoResumeEnabled"
      ],
      "members":{
        "maxIdleDurationSeconds":{"shape":"IdlePolicyMaxIdleDurationSecondsInteger"},
        "suspendedDurationSeconds":{"shape":"IdlePolicySuspendedDurationSecondsInteger"},
        "autoResumeEnabled":{"shape":"Boolean"}
      }
    },
    "IdlePolicyMaxIdleDurationSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "IdlePolicySuspendedDurationSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "InvalidRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "deprecated":true,
      "deprecatedMessage":"Use ValidationException instead",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "LaunchConfiguration":{
      "type":"string",
      "max":16000,
      "min":1,
      "sensitive":true
    },
    "LaunchMicroVMRequest":{
      "type":"structure",
      "required":["microVMImageArn"],
      "members":{
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "microVMImageArn":{"shape":"MicroVMImageArn"},
        "microVMImageVersion":{"shape":"Version"},
        "executionRoleArn":{"shape":"RoleArn"},
        "idlePolicy":{"shape":"IdlePolicy"},
        "loggingConfig":{
          "shape":"LoggingConfig",
          "deprecated":true,
          "deprecatedMessage":"Use logging instead",
          "deprecatedSince":"2026-04-28"
        },
        "logging":{"shape":"Logging"},
        "operationalConfig":{"shape":"OperationalConfig"},
        "launchConfiguration":{"shape":"LaunchConfiguration"},
        "maxLifetimeSeconds":{"shape":"Integer"},
        "clientToken":{
          "shape":"LaunchMicroVMRequestClientTokenString",
          "idempotencyToken":true
        }
      }
    },
    "LaunchMicroVMRequestClientTokenString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "LaunchMicroVMResponse":{
      "type":"structure",
      "members":{
        "microVMId":{"shape":"MicroVMId"},
        "microVMState":{"shape":"MicroVMState"},
        "endpoint":{"shape":"String"},
        "microVMImageArn":{"shape":"MicroVMImageArn"},
        "microVMImageVersion":{"shape":"Version"},
        "executionRoleArn":{"shape":"RoleArn"},
        "idlePolicy":{"shape":"IdlePolicy"},
        "operationalConfig":{"shape":"OperationalConfig"},
        "resourceSpec":{"shape":"ResourceSpec"},
        "cpuSpec":{"shape":"CPUSpec"},
        "launchedAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "maxLifetimeSeconds":{"shape":"Integer"},
        "expiresAt":{"shape":"Timestamp"},
        "terminatedAt":{"shape":"Timestamp"},
        "terminationMessage":{"shape":"NonBlankString"},
        "version":{"shape":"Integer"},
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"}
      }
    },
    "ListManagedMicroVMImageVersionsInput":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "maxResults":{
          "shape":"ListManagedMicroVMImageVersionsInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "arn":{
          "shape":"String",
          "location":"uri",
          "locationName":"arn"
        }
      }
    },
    "ListManagedMicroVMImageVersionsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListManagedMicroVMImageVersionsOutput":{
      "type":"structure",
      "required":["versions"],
      "members":{
        "nextToken":{"shape":"String"},
        "versions":{"shape":"ManagedMicroVMImageVersionList"}
      }
    },
    "ListManagedMicroVMImagesInput":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListManagedMicroVMImagesInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "name":{
          "shape":"NonBlankString",
          "location":"querystring",
          "locationName":"name"
        },
        "architecture":{
          "shape":"Architecture",
          "location":"querystring",
          "locationName":"architecture"
        }
      }
    },
    "ListManagedMicroVMImagesInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListManagedMicroVMImagesOutput":{
      "type":"structure",
      "required":["managedMicroVMImages"],
      "members":{
        "nextToken":{"shape":"String"},
        "managedMicroVMImages":{"shape":"ManagedMicroVMImageSummaryList"}
      }
    },
    "ListMicroVMImageBuildsInput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion"
      ],
      "members":{
        "maxResults":{
          "shape":"ListMicroVMImageBuildsInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "microVMImageVersion":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageVersion"
        },
        "architecture":{
          "shape":"NonBlankString",
          "location":"querystring",
          "locationName":"architecture"
        },
        "chipset":{
          "shape":"NonBlankString",
          "location":"querystring",
          "locationName":"chipset"
        },
        "chipsetGeneration":{
          "shape":"NonBlankString",
          "location":"querystring",
          "locationName":"chipsetGeneration"
        },
        "resourceSpec":{"shape":"ResourceSpecification"}
      }
    },
    "ListMicroVMImageBuildsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListMicroVMImageBuildsOutput":{
      "type":"structure",
      "required":["builds"],
      "members":{
        "nextToken":{"shape":"String"},
        "builds":{"shape":"MicroVMImageBuildList"}
      }
    },
    "ListMicroVMImageVersionsInput":{
      "type":"structure",
      "required":["microVMImageArn"],
      "members":{
        "maxResults":{
          "shape":"ListMicroVMImageVersionsInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "state":{
          "shape":"VersionState",
          "location":"querystring",
          "locationName":"state"
        },
        "baseMicroVMImageArn":{
          "shape":"NonBlankString",
          "location":"querystring",
          "locationName":"baseMicroVMImageArn"
        },
        "startTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"startTime"
        },
        "endTime":{
          "shape":"Timestamp",
          "location":"querystring",
          "locationName":"endTime"
        }
      }
    },
    "ListMicroVMImageVersionsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListMicroVMImageVersionsOutput":{
      "type":"structure",
      "required":["versions"],
      "members":{
        "nextToken":{"shape":"String"},
        "versions":{"shape":"MicroVMImageVersionList"}
      }
    },
    "ListMicroVMImagesInput":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListMicroVMImagesInputMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "nameFilter":{
          "shape":"NonBlankString",
          "location":"querystring",
          "locationName":"nameFilter"
        },
        "architecture":{
          "shape":"Architecture",
          "location":"querystring",
          "locationName":"architecture"
        },
        "buildState":{
          "shape":"BuildState",
          "location":"querystring",
          "locationName":"buildState"
        }
      }
    },
    "ListMicroVMImagesInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListMicroVMImagesOutput":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"String"},
        "microVMImages":{"shape":"MicroVMImageSummaries"}
      }
    },
    "ListMicroVMsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListMicroVMsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "microVMImageArn":{
          "shape":"String",
          "location":"querystring",
          "locationName":"microVMImageArn"
        },
        "microVMImageVersion":{
          "shape":"String",
          "location":"querystring",
          "locationName":"microVMImageVersion"
        }
      }
    },
    "ListMicroVMsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListMicroVMsResponse":{
      "type":"structure",
      "required":["microVMs"],
      "members":{
        "nextToken":{"shape":"String"},
        "microVMs":{"shape":"MicroVMSummaryList"}
      }
    },
    "ListOfPortRange":{
      "type":"list",
      "member":{"shape":"PortRange"}
    },
    "Logging":{
      "type":"structure",
      "members":{
        "disabled":{"shape":"LoggingDisabled"},
        "cloudWatch":{"shape":"CloudWatchLogging"}
      },
      "union":true
    },
    "LoggingConfig":{
      "type":"structure",
      "members":{
        "logGroup":{"shape":"LoggingConfigLogGroupString"},
        "logStream":{"shape":"LoggingConfigLogStreamString"}
      },
      "deprecated":true,
      "deprecatedMessage":"Use Logging union instead",
      "deprecatedSince":"2026-04-28"
    },
    "LoggingConfigLogGroupString":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\-/.#]+"
    },
    "LoggingConfigLogStreamString":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[^:*]*"
    },
    "LoggingDisabled":{
      "type":"structure",
      "members":{}
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "ManagedMicroVMImageSummary":{
      "type":"structure",
      "required":[
        "name",
        "arn",
        "creationTime",
        "lastUpdatedTime"
      ],
      "members":{
        "name":{"shape":"String"},
        "arn":{"shape":"String"},
        "creationTime":{"shape":"Long"},
        "lastUpdatedTime":{"shape":"Long"}
      }
    },
    "ManagedMicroVMImageSummaryList":{
      "type":"list",
      "member":{"shape":"ManagedMicroVMImageSummary"}
    },
    "ManagedMicroVMImageVersion":{
      "type":"structure",
      "required":[
        "name",
        "major",
        "platformVersion",
        "creationTime",
        "lastUpdatedTime"
      ],
      "members":{
        "name":{"shape":"String"},
        "major":{"shape":"Integer"},
        "platformVersion":{"shape":"String"},
        "creationTime":{"shape":"Long"},
        "lastUpdatedTime":{"shape":"Long"}
      }
    },
    "ManagedMicroVMImageVersionList":{
      "type":"list",
      "member":{"shape":"ManagedMicroVMImageVersion"}
    },
    "MicroVMId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[^\\s]+"
    },
    "MicroVMImageArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "MicroVMImageBuild":{
      "type":"structure",
      "required":[
        "buildId",
        "accountId",
        "microVMImageArn",
        "microVMImageVersion",
        "architecture",
        "chipset",
        "chipsetGeneration",
        "state",
        "baseMicroVMImageArn",
        "creationTime",
        "lastUpdatedTime"
      ],
      "members":{
        "microVMImageVersionId":{
          "shape":"NonBlankString",
          "deprecated":true,
          "deprecatedMessage":"Deprecated internal field"
        },
        "buildId":{"shape":"NonBlankString"},
        "accountId":{"shape":"NonBlankString"},
        "microVMImageArn":{"shape":"NonBlankString"},
        "microVMImageVersion":{"shape":"NonBlankString"},
        "architecture":{"shape":"Architecture"},
        "chipset":{"shape":"Chipset"},
        "chipsetGeneration":{"shape":"NonBlankString"},
        "state":{"shape":"BuildState"},
        "baseMicroVMImageArn":{"shape":"NonBlankString"},
        "failureReason":{"shape":"String"},
        "creationTime":{"shape":"Timestamp"},
        "lastUpdatedTime":{"shape":"Timestamp"}
      }
    },
    "MicroVMImageBuildList":{
      "type":"list",
      "member":{"shape":"MicroVMImageBuild"}
    },
    "MicroVMImageState":{
      "type":"string",
      "enum":[
        "CREATING",
        "CREATED",
        "CREATION_FAILED",
        "UPDATING",
        "UPDATED",
        "UPDATE_FAILED",
        "DELETING",
        "DELETION_FAILED",
        "DELETED"
      ]
    },
    "MicroVMImageSummaries":{
      "type":"list",
      "member":{"shape":"MicroVMImageSummary"}
    },
    "MicroVMImageSummary":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "name",
        "state",
        "baseMicroVMImageArn"
      ],
      "members":{
        "microVMImageArn":{"shape":"NonBlankString"},
        "name":{"shape":"NonBlankString"},
        "state":{"shape":"MicroVMImageState"},
        "baseMicroVMImageArn":{"shape":"NonBlankString"},
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "snapshotEncryptionKeyArn":{"shape":"NonBlankString"},
        "snapshotConfig":{"shape":"SnapshotConfig"},
        "buildRoleArn":{"shape":"NonBlankString"},
        "codeArtifact":{"shape":"CodeArtifact"},
        "description":{"shape":"NonBlankString"},
        "activeVersion":{"shape":"Integer"},
        "failureReason":{"shape":"NonBlankString"},
        "loggingConfig":{"shape":"LoggingConfig"},
        "baseMicroVMImageVersion":{"shape":"Version"},
        "tags":{"shape":"Tags"},
        "creationTime":{"shape":"Timestamp"},
        "microVMImageId":{"shape":"NonBlankString"},
        "buildSpecifications":{"shape":"BuildSpecifications"}
      }
    },
    "MicroVMImageVersion":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "versionId",
        "accountId",
        "state",
        "codeArtifact",
        "baseMicroVMImageArn",
        "executionRoleARN",
        "description",
        "tags",
        "versionStateTimeBucket",
        "creationTime",
        "lastUpdatedTime"
      ],
      "members":{
        "ingressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "microVMImageArn":{"shape":"NonBlankString"},
        "versionId":{"shape":"NonBlankString"},
        "accountId":{"shape":"NonBlankString"},
        "state":{"shape":"VersionState"},
        "codeArtifact":{"shape":"CodeArtifact"},
        "baseMicroVMImageArn":{"shape":"NonBlankString"},
        "executionRoleARN":{"shape":"NonBlankString"},
        "failureReason":{"shape":"String"},
        "description":{"shape":"NonBlankString"},
        "tags":{"shape":"Tags"},
        "versionStateTimeBucket":{"shape":"NonBlankString"},
        "creationTime":{"shape":"Timestamp"},
        "lastUpdatedTime":{"shape":"Timestamp"}
      }
    },
    "MicroVMImageVersionList":{
      "type":"list",
      "member":{"shape":"MicroVMImageVersion"}
    },
    "MicroVMState":{
      "type":"string",
      "enum":[
        "PENDING",
        "RUNNING",
        "SUSPENDING",
        "SUSPENDED",
        "TERMINATING",
        "TERMINATED"
      ]
    },
    "MicroVMSummary":{
      "type":"structure",
      "required":[
        "microVMId",
        "microVMState"
      ],
      "members":{
        "microVMId":{"shape":"MicroVMId"},
        "microVMState":{"shape":"MicroVMState"},
        "microVMImageArn":{"shape":"MicroVMImageArn"},
        "microVMImageVersion":{"shape":"Version"},
        "launchedAt":{"shape":"Timestamp"},
        "launchDate":{"shape":"Timestamp"}
      }
    },
    "MicroVMSummaryList":{
      "type":"list",
      "member":{"shape":"MicroVMSummary"}
    },
    "NetworkConnector":{"type":"string"},
    "NetworkConnectorArn":{
      "type":"string",
      "max":140,
      "min":1,
      "pattern":"(arn:aws[a-zA-Z-]*:lambda:(eusc-)?[a-z]{2}((-gov)|(-iso([a-z]?)))?-[a-z]+-\\d{1}:\\d{12}:network-connector:[a-zA-Z0-9-_]+(:[1-9]|[1-9][0-9]+)?)"
    },
    "NetworkConnectorDetails":{
      "type":"structure",
      "required":["NetworkConnectorArn"],
      "members":{
        "NetworkConnectorArn":{"shape":"NetworkConnectorArn"},
        "VpcConfig":{"shape":"NetworkConnectorVpcConfig"}
      }
    },
    "NetworkConnectorList":{
      "type":"list",
      "member":{"shape":"NetworkConnector"}
    },
    "NetworkConnectorSecurityGroupId":{
      "type":"string",
      "max":1024,
      "min":0,
      "pattern":"sg-[0-9a-zA-Z]+"
    },
    "NetworkConnectorSecurityGroupIds":{
      "type":"list",
      "member":{"shape":"NetworkConnectorSecurityGroupId"},
      "max":5,
      "min":0
    },
    "NetworkConnectorSubnetId":{
      "type":"string",
      "max":1024,
      "min":0,
      "pattern":"subnet-[0-9a-z]+"
    },
    "NetworkConnectorSubnetIds":{
      "type":"list",
      "member":{"shape":"NetworkConnectorSubnetId"},
      "max":16,
      "min":1
    },
    "NetworkConnectorVpcConfig":{
      "type":"structure",
      "required":[
        "SubnetIds",
        "NetworkProtocol"
      ],
      "members":{
        "SubnetIds":{"shape":"NetworkConnectorSubnetIds"},
        "SecurityGroupIds":{"shape":"NetworkConnectorSecurityGroupIds"},
        "NetworkProtocol":{"shape":"NetworkProtocol"}
      }
    },
    "NetworkProtocol":{
      "type":"string",
      "enum":[
        "IPv4",
        "IPv6",
        "DualStack"
      ]
    },
    "NonBlankString":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[^\\s]+"
    },
    "NonEmptyString":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "OperationalConfig":{
      "type":"structure",
      "members":{
        "shellEnabled":{"shape":"Boolean"}
      }
    },
    "PortNumber":{
      "type":"integer",
      "box":true,
      "max":65535,
      "min":1
    },
    "PortRange":{
      "type":"structure",
      "members":{
        "startPort":{"shape":"PortNumber"},
        "endPort":{"shape":"PortNumber"}
      }
    },
    "PositiveInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "PositiveLong":{
      "type":"long",
      "box":true,
      "min":1
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceType":{"shape":"String"},
        "resourceId":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceSpec":{
      "type":"structure",
      "required":["minMemoryMB"],
      "members":{
        "minVCPUs":{
          "shape":"Integer",
          "deprecated":true,
          "deprecatedMessage":"Sizing is keyed on minMemoryMB.  Use only minMemoryMB field instead."
        },
        "minMemoryMB":{"shape":"Integer"},
        "maxVCPUs":{
          "shape":"Integer",
          "deprecated":true,
          "deprecatedMessage":"Sizing is keyed on minMemoryMB.  Use only minMemoryMB field instead."
        },
        "maxMemoryMB":{
          "shape":"Integer",
          "deprecated":true,
          "deprecatedMessage":"Sizing is keyed on minMemoryMB.  Use only minMemoryMB field instead."
        }
      }
    },
    "ResourceSpecList":{
      "type":"list",
      "member":{"shape":"ResourceSpec"}
    },
    "ResourceSpecification":{
      "type":"structure",
      "required":[
        "minVCPUs",
        "minMemoryMB"
      ],
      "members":{
        "minVCPUs":{"shape":"Integer"},
        "minMemoryMB":{"shape":"Integer"},
        "maxVCPUs":{"shape":"Integer"},
        "maxMemoryMB":{"shape":"Integer"}
      }
    },
    "ResumeMicroVMRequest":{
      "type":"structure",
      "required":["microVMId"],
      "members":{
        "microVMId":{
          "shape":"MicroVMId",
          "location":"uri",
          "locationName":"microVMId"
        }
      }
    },
    "ResumeMicroVMResponse":{
      "type":"structure",
      "members":{}
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[a-z\\-]*:iam::[0-9]{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"String"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SnapshotBuild":{
      "type":"structure",
      "members":{
        "baseBytes":{"shape":"Long"},
        "incrementalBytes":{"shape":"Long"}
      }
    },
    "SnapshotConfig":{
      "type":"structure",
      "members":{
        "resourceSpecs":{"shape":"ResourceSpecList"},
        "cpuSpecs":{"shape":"CPUSpecList"},
        "egressNetworkConnectors":{"shape":"NetworkConnectorList"},
        "additionalCapabilities":{"shape":"CapabilityList"},
        "hooks":{"shape":"Hooks"},
        "environmentVariables":{"shape":"EnvironmentVariableMap"}
      }
    },
    "String":{"type":"string"},
    "SuspendMicroVMRequest":{
      "type":"structure",
      "required":["microVMId"],
      "members":{
        "microVMId":{
          "shape":"MicroVMId",
          "location":"uri",
          "locationName":"microVMId"
        }
      }
    },
    "SuspendMicroVMResponse":{
      "type":"structure",
      "members":{}
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)"
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)"
    },
    "Tags":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"}
    },
    "TerminateMicroVMRequest":{
      "type":"structure",
      "required":["microVMId"],
      "members":{
        "microVMId":{
          "shape":"MicroVMId",
          "location":"uri",
          "locationName":"microVMId"
        }
      }
    },
    "TerminateMicroVMResponse":{
      "type":"structure",
      "members":{}
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "serviceCode":{"shape":"String"},
        "quotaCode":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "Timestamp":{"type":"timestamp"},
    "TokenParts":{
      "type":"map",
      "key":{"shape":"AuthTokenKey"},
      "value":{"shape":"AuthTokenValue"},
      "max":10,
      "min":1
    },
    "UpdateMicroVMImageInput":{
      "type":"structure",
      "required":["microVMImageArn"],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "codeArtifact":{"shape":"CodeArtifact"},
        "baseMicroVMImageArn":{"shape":"NonBlankString"},
        "buildRoleArn":{"shape":"NonBlankString"},
        "snapshotConfig":{"shape":"SnapshotConfig"},
        "loggingConfig":{"shape":"LoggingConfig"},
        "baseMicroVMImageVersion":{"shape":"Version"},
        "description":{"shape":"NonEmptyString"},
        "tags":{"shape":"Tags"},
        "clientToken":{
          "shape":"UpdateMicroVMImageInputClientTokenString",
          "idempotencyToken":true
        }
      }
    },
    "UpdateMicroVMImageInputClientTokenString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "UpdateMicroVMImageOutput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "state"
      ],
      "members":{
        "microVMImageArn":{"shape":"NonBlankString"},
        "lastUpdateDate":{"shape":"Timestamp"},
        "state":{"shape":"MicroVMImageState"},
        "versionId":{"shape":"NonBlankString"}
      }
    },
    "UpdateMicroVMImageVersionStateInput":{
      "type":"structure",
      "required":[
        "microVMImageArn",
        "microVMImageVersion",
        "state"
      ],
      "members":{
        "microVMImageArn":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageArn"
        },
        "microVMImageVersion":{
          "shape":"NonBlankString",
          "location":"uri",
          "locationName":"microVMImageVersion"
        },
        "state":{"shape":"VersionState"}
      }
    },
    "UpdateMicroVMImageVersionStateOutput":{
      "type":"structure",
      "members":{}
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Version":{"type":"string"},
    "VersionState":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "SUCCESSFUL",
        "FAILED",
        "DEGRADED",
        "DELETING",
        "DELETED"
      ]
    }
  }
}
